<%- include('../pages/main'); -%> 
<html>
<style>
    .form-group {
        size: 14px;
    }
    .image {
        float:left; 
        margin-right: 20px;
        width: 400px;
        height: 400px;
        margin-bottom: 200px;
    }
    .image img {
        width: 100%;
        height: auto;
    }
    .myModal {
        margin-top: 50px;
    }
    h5 {
        margin-top: 20px;
        font-weight: bold;
    }
    h1 {
        margin-top: 20px;
        font-weight: bold;
    }

    .review {
        margin-left: 20px;
        float: right;
    }

    .showReview, .showName {
        margin-right: 20px;
        float: left;
    }

</style>
<body>
    <div class="image"> 
        <img src= "<%= image %>" alt="TV Show Image">
    </div>
    <div class="info">
        <h1> <%= name %> </h1>
        <h5> Genres </h5>
        <% for (var item in genres) { %>
            <li> <%= genres[item] %></li>
        <% } %>
        <h5> Summary </h5>
        <%= summary %>
        <h5> Average Ratings </h5>
        <%= ratings %>
        <div class="myModal">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Add Review
              </button>
              
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <div class="modal-header">
                      <h4 class="modal-title">Add Review</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <form action= "/addreview" method= "post">
                        <div class="form-group">
                            <div class="showLabel">
                                <input type="text" class="form-control input-lg" name="show_label" value="" placeholder="Book Name">
                            </div>
                          
                            <div class="showName">
                                <input type="text" class="form-control input-lg" name="show_text" value="" placeholder="Book Name" readonly>
                            </div>
                            <div class="form-group">
                                <div class="showReview">
                                    <input type="text" class="form-control input-lg" name="review_label" value="" placeholder="Enter your review here:">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="review">
                                    <input type="text" class="form-control input-lg" name="review_text" value="" placeholder="">
                                </div>
                          </div>
                        </div>
              
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button id="my_submit_button" class="btn btn-primary submit-btn" data-dismiss="modal" onclick = "this.form.submit()">Submit</button>
                        </div>
                    </form>
              
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
